{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  h5{
    font-weight: bold;
  }

  .card-icon {
    font-size: 30px;
    color: white;
    background-color: rgb(202, 139, 151);
    padding: 10px;
    border-radius: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
}


</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} fs-6 fw-bold mt-2">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}



<div class="container mt-3 p-5" style="background-color: rgb(204, 211, 236);">
    
    <div class="row">

        <div class="col-md-3">
            <div class="card text-center shadow-sm p-3">
                
               
                <h2><i class="fa-solid fa-briefcase card-icon"></i>  {{ total_assets }}</h2>
                 <h5>Total Assets</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm p-3">
               
                <h2><i class="fa-solid fa-square-check card-icon"></i>  {{ good_assets }}</h2>
                 <h5>Good Condition</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm p-3">
                
                <h2><i class="fa-solid fa-star-half-stroke card-icon"></i>  {{ fair_assets }}</h2>
                <h5>Fair Condition</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm p-3">
                
                <h2><i class="fa-solid fa-circle-xmark card-icon"></i>  {{ poor_assets }}</h2>
                <h5>Poor Condition</h5>
            </div>
        </div>

    </div>


</div>

<!-- 
    <div class="text-center mt-4 mb-4">
    <img src="{% static 'assets/laptopbg.jpg' %}" 
         alt="Dashboard Image" 
         style=" max-width: 500px;  border-radius: 10px;">
</div> -->


{% endblock %}