{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1 class="text-dark text-center fw-bold  mt-5">Asset details</h1>
<br>


<div class="text-end px-4">
    <a href="{% url 'assetformcreatepage' %}" class="btn btn-danger">Add New Asset</a>
    <a href="{% url 'user_dashboard' %}" class="btn btn-secondary">Back</a>
</div>
<br>
<br>

<table border="1" class="table table-secondary table-striped mx-auto" style="width: 1000px;">
    <tr>
        <th>ID</th>
      
        <th>Asset Name</th>
        <th>Details</th>
       
        <th>Actions</th>
        
    </tr>
    {% for asset in assets %}
    <tr>
        <td>{{ asset.id }}</td>
        
        <td>{{ asset.assetname }}</td>
       



<td><a href="{% url 'assetform_details' asset.id %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i>Show Details</a></td>
        <td><a href="{% url 'assetform_update' asset.id %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i>Edit</a>
            <a href="{% url 'assetform_delete' asset.id %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>Delete</a>
</td>

        
    </tr>
    {% endfor %}
</table>

{% endblock %}