{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">

            <div class="card border-0 rounded-4 shadow-sm">
                <div class="card-header bg-secondary text-dark text-center rounded-top-4">
                    <h2 class="mb-0">Asset Details</h2>
                </div>

                <div class="card-body">

                    <p><strong>ID:</strong> {{ asset.id }}</p>
                    <p><strong>Asset Name:</strong> {{ asset.assetname }}</p>
                    <p><strong>Description:</strong> {{ asset.description }}</p>
                    <p><strong>Make:</strong> {{ asset.make }}</p>
                    <p><strong>Purchase Date:</strong> {{ asset.purchase_date }}</p>
                    <p><strong>Warrenty Till:</strong> {{ asset.warrenty_expiry }}</p>
                    <p><strong>Assigned to:</strong> {{ asset.assigned_to }}</p>
                    <p><strong>Category:</strong> {{ asset.category.title }}</p>
                    <p><strong>Department:</strong> {{ asset.department.title }}</p>
                    <p><strong>Location:</strong> {{ asset.location.location }}</p>
                    <p><strong>Sub Category:</strong> {{ asset.subcategory.title }}</p>
                    <p><strong>Condition:</strong> {{ asset.condition }}</p>
                    <p><strong>Remarks:</strong> {{ asset.remarks }}</p>

                </div>

                <div class="card-footer bg-light text-center rounded-bottom-4">
                    <a href="{% url 'assetlist' %}" class="btn btn-secondary px-4">
                        Back
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="container mt-5" style="max-width: 700px;">
    <div class="card border-0 rounded-4">
        <div class="card-header bg-secondary  text-dark text-center rounded-top-4">
            <h2 class="mb-0">Asset Details</h2>
        </div>

        <div class="card-body">
            <p><strong>ID:</strong> {{ asset.id }}</p>
            <p><strong>Asset Name:</strong> {{ asset.assetname }}</p>
            <p><strong>Description:</strong> {{ asset.description }}</p>
            <p><strong>Make:</strong> {{ asset.make }}</p>
             <p><strong>Purchase Date:</strong> {{ asset.purchase_date }}</p>
            <p><strong>Warrenty Till:</strong> {{ asset.warrenty_expiry }}</p>
           
             <p><strong>Assigned to:</strong> {{ asset.assigned_to }}</p>
            <p><strong>Category:</strong> {{ asset.category.title }}</p>
             <p><strong>Department:</strong> {{ asset.department.title }}</p>
              <p><strong>Location:</strong> {{ asset.location.location }}</p>
              <p><strong>Sub Category:</strong> {{ asset.subcategory.title }}</p>
              
              <p><strong>Condition:</strong> {{ asset.condition }}</p>
              <p><strong>Remarks:</strong> {{ asset.remarks }}</p>
           
        </div>

        <div class="card-footer bg-light text-center rounded-bottom-4">
            <a href="{% url 'assetlist' %}" class="btn btn-secondary">
                Back
            </a>
        </div>
    </div>
</div>

{% endblock %}