{% extends 'base.html' %}
{% block content %}

<h2 class="text-center fw-bold mb-4">Asset Report</h2>

<div class="text-end mb-3">
    <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Back</a>
</div>

<form method="get" class="row g-3">

    <!-- Category -->
    <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-bold">Category:</label>
        <select name="category" id="category" class="form-select">
            <option value="">All</option>
            {% for c in categories %}
            <option value="{{ c.id }}" {% if request.GET.category == c.id|stringformat:"s" %}selected{% endif %}>{{ c.title }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Subcategory -->
    <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-bold">Subcategory:</label>
        <select name="subcategory" id="subcategory" class="form-select">
            <option value="">All</option>
            {% for s in subcategories %}
            <option value="{{ s.id }}" {% if request.GET.subcategory == s.id|stringformat:"s" %}selected{% endif %}>{{ s.title }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Location -->
    <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-bold">Location:</label>
        <select name="location" class="form-select">
            <option value="">All</option>
            {% for l in locations %}
            <option value="{{ l.id }}" {% if request.GET.location == l.id|stringformat:"s" %}selected{% endif %}>{{ l.location }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Department -->
    <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-bold">Department:</label>
        <select name="department" class="form-select">
            <option value="">All</option>
            {% for d in departments %}
            <option value="{{ d.id }}" {% if request.GET.department == d.id|stringformat:"s" %}selected{% endif %}>{{ d.title }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Condition -->
    <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-bold">Condition:</label>
        <select name="condition" class="form-select">
            <option value="">All</option>
            {% for c,v in conditions %}
            <option value="{{ c }}" {% if request.GET.condition == c %}selected{% endif %}>{{ v }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Date From -->
    <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-bold">Purchase Date From:</label>
        <input type="date" class="form-control" name="date_from" value="{{ request.GET.date_from }}">
    </div>

    <!-- Date To -->
    <div class="col-12 col-md-6 col-lg-3">
        <label class="form-label fw-bold">To:</label>
        <input type="date" class="form-control" name="date_to" value="{{ request.GET.date_to }}">
    </div>

    <!-- Filter Button -->
   <div class="col-12 col-md-2 d-flex align-items-end">
        <button class="btn btn-primary w-100" type="submit" style="margin-bottom:2px;">
            Filter
        </button>
    </div>




</form>

<!-- RESPONSIVE TABLE -->
<div class="table-responsive mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Department</th>
                <th>Location</th>
                <th>Condition</th>
                <th>Purchase Date</th>
                <th>Warranty Expiry</th>
                <th>Assigned To</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for a in assets %}
            <tr>
                <td>{{ a.assetname }}</td>
                <td>{{ a.category }}</td>
                <td>{{ a.subcategory }}</td>
                <td>{{ a.department }}</td>
                <td>{{ a.location }}</td>
                <td>{{ a.condition }}</td>
                <td>{{ a.purchase_date }}</td>
                <td>{{ a.warrenty_expiry }}</td>
                <td>{{ a.assigned_to }}</td>
                <td>{{ a.remarks }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" class="text-center">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // When category changes
    $('#category').change(function() {
        var categoryId = $(this).val();

        $.ajax({
            url: "{% url 'ajax_load_subcategories' %}",
            data: {'category_id': categoryId},
            success: function(data) {
                $("#subcategory").html('<option value="">All</option>');
                $.each(data, function(index, subcat) {
                    $("#subcategory").append('<option value="' + subcat.id + '">' + subcat.title + '</option>');
                });
            }
        });
    });

    // Load subcategory on page load
    $(document).ready(function () {
        var selectedCategory = $('#category').val();
        var selectedSubcategory = "{{ request.GET.subcategory }}";

        if (selectedCategory) {
            $.ajax({
                url: "{% url 'ajax_load_subcategories' %}",
                data: { 'category_id': selectedCategory },
                success: function(data) {
                    $("#subcategory").html('<option value="">All</option>');
                    $.each(data, function(index, subcat) {
                        $("#subcategory").append('<option value="' + subcat.id + '">' + subcat.title + '</option>');
                    });

                    if (selectedSubcategory) {
                        $("#subcategory").val(selectedSubcategory);
                    }
                }
            });
        }
    });
</script>

{% endblock %}
