{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-dark text-center fw-bold mt-5">Subcategory</h1>


<div class="text-end px-4">
    <a href="{% url 'subcategory_create' %}" class="btn btn-danger"><i class="fas fa-plus"></i>  Add New Subcategory</a>
    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Back</a>
</div>


<!-- Responsive Table Wrapper -->
<div class="container mt-4">
    <div class="table-responsive shadow-sm">
        <table class="table table-hover table-bordered table-striped align-middle">

            <thead class="table-dark text-center">
                <tr>
                    <th>Serial No.</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for subcategory in subcategories %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ subcategory.title }}</td>
                    <td>{{ subcategory.category.title }}</td>

                    <td class="text-center">
                        {% if subcategory.status %}
                            <span class="badge bg-success">Active</span>
                        {% else %}
                            <span class="badge bg-secondary">Inactive</span>
                        {% endif %}
                    </td>

                    <td>{{ subcategory.created_date }}</td>
                    <td>{{ subcategory.updated_date }}</td>

                    <td class="text-center">

                        <a href="{% url 'subcategory_update' subcategory.id %}" 
                           class="btn btn-sm btn-primary mb-1">
                            <i class="fas fa-edit"></i> Edit
                        </a>

                        {% if subcategory.status %}
                            <a href="{% url 'toggle_subcategory_status' subcategory.id %}" 
                               class="btn btn-sm btn-warning mb-1">
                                Deactivate
                            </a>
                        {% else %}
                            <a href="{% url 'toggle_subcategory_status' subcategory.id %}" 
                               class="btn btn-sm btn-success mb-1">
                                Activate
                            </a>
                        {% endif %}

                        <a href="{% url 'subcategory_delete' subcategory.id %}" 
                           class="btn btn-sm btn-danger mb-1">
                            <i class="fas fa-trash"></i> Delete
                        </a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}

